CYODA_CLIENT_ID=""
CYODA_CLIENT_SECRET=""
CYODA_HOST=client-d713e3bdc84840bc9c58393913ede6bc.eu.cyoda.net
CYODA_AI_API=cyoda
WORKFLOW_AI_API=workflow
CONNECTION_AI_API=connection
RANDOM_AI_API=random
TRINO_AI_API=trino
GRPC_PROCESSOR_TAG=cyoda_application
CHAT_ID=2b1f23a2-67cf-11b2-8c8c-6e65ddeab390